/* GENERAL */

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --section-color: #f6f6f6;
  --localisation: #eaeaea;
  --pinkbtn: #ff79da;
  --fuchiabtn: #9356dc;
  --green: #99e2d0;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h4 {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-top: 18px;

  .header__arrow {
    padding-bottom: 7px;
    padding-left: 7px;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .header__logo {
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 180px;
    }
  }
}

/* SECTION IMG */
.section__img {
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: absolute;
  }
}

.btn__commander {
  text-align: center;
  margin: 32px;
  margin-bottom: 0px;

  button {
    background: rgb(147, 86, 220);
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 1) 0%,
      rgba(255, 121, 218, 1) 100%
    );
    width: 190px;
    height: 50px;
    border: 0px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 1000;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition-duration: 1000ms;
    &:hover {
      cursor: pointer;
      background: rgb(147, 86, 220);
      background: linear-gradient(
        0deg,
        rgba(146, 86, 220, 0.912) 0%,
        rgba(255, 121, 217, 0.914) 100%
      );
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.424);
      transition-duration: 800ms;
    }
  }
}
/* SECTION MENU */

.section__menu {
  background-color: var(--localisation);
  padding-bottom: 32px;
  padding-top: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: 215px;

  .title__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

    h1 {
      font-family: "Roboto", sans-serif;
      font-family: "Shrikhand", cursive;
      font-size: 26px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .hearts {
      padding-left: 15px;
      position: relative;

      .hearttwo {
        opacity: 0;
        transition-duration: 1400ms;
        &:hover {
          opacity: 1;
          transition-duration: 800ms;
          color: rgb(147, 86, 220);
          background-clip: text;
          -webkit-background-clip: text;
          cursor: pointer;
        }
      }

      i {
        position: absolute;
      }
    }
  }

  .menu__effect-entrées {
    opacity: 0;
    animation: apparition 2s ease 200ms 1 normal forwards;
  }

  .menu__effect-plats {
    opacity: 0;
    animation: apparition 2s ease 800ms 1 normal forwards;
  }

  .menu__effect-desserts {
    opacity: 0;
    animation: apparition 2s ease 1500ms 1 normal forwards;
  }

  .menu__title {
    margin-left: 10px;
    border-bottom: var(--green) 2px solid;
    max-width: 36px;

    h3 {
      margin-bottom: 8px;
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  .card {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;

    .card__content {
      padding: 10px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      h4 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: bold;
      }

      .card__text {
        display: flex;
        justify-content: space-between;

        p {
          margin: 0;
          font-size: 14px;
        }
      }
    }

    .card__price {
      p {
        margin: 0;
        padding-right: 12px;
        padding-top: 32px;
        font-size: 14px;
        font-weight: bold;
      }
    }
    .box {
      display: flex;
      justify-content: end;

      .box__verte {
        background-color: #99e2d0;
        width: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: width;
        transition-duration: 400ms;

        .box__verte__check {
          display: flex;
          justify-content: center;
          align-items: center;
          display: flex;
          width: 0px;
          height: 0px;
          border: 0;
          border-radius: 0px;
          font-size: 0;
          padding: 0;
          background-color: white;
          transition-property: width, height, font-size, border-radius;
          transition-duration: 700ms;

          i {
            color: #99e2d0;
          }
        }
      }
    }
  }

  /*.card .card__effect {
    opacity: 0;
    transform: scale(0);
  }*/

  .card:hover {
    display: flex;

    .box__verte {
      display: flex;
      align-items: center;
      width: 60px;
      transition-property: width;
      transition-duration: 700ms;

      .box__verte__check {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 20px;
        font-size: 12px;
        background-color: white;

        i {
          color: #99e2d0;
        }
      }
    }
  }
}

/* FOOTER */

footer {
  background-color: #353535;
  padding: 20px;

  .footer__content {
    color: white;

    h4 {
      font-family: "Roboto", sans-serif;
      font-family: "Shrikhand", cursive;
      font-size: 18px;
      color: white;
      margin-top: 0px;
      margin-bottom: 15px;
    }

    p {
      color: white;
      margin-bottom: 0px;
      margin-top: 7px;
      font-weight: bold;
    }
  }

  .footer__content_sous-titre {
    display: flex;
    align-items: center;
    margin-top: 7px;

    .margeIcon {
      margin-left: 11px;
    }

    p {
      margin-left: 7px;
      margin-top: 0;
    }

    .fa-handshake {
      transform: rotate(-45deg);
    }
  }

  .footer__content_contact {
    display: flex;
  }
}
