/* GENERAL */

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --section-color: #f6f6f6;
  --localisation: #eaeaea;
  --pinkbtn: #ff79da;
  --fuchiabtn: #9356dc;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h4,
h3 {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  padding: 8px;
  padding-top: 21px;

  img {
    width: 180px;
  }
}

/* SECTION explorer */

.mainSection {
  background-color: var(--section-color);
  padding-bottom: 55px;

  .section__grey {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--localisation);

    p {
      padding-left: 10px;
    }
  }

  .section__explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 22px;

    h1 {
      font-size: 23px;
      font-weight: 900;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 0px;
      text-align: center;
    }
    h2 {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 23px;
    }

    p {
      text-align: center;
    }

    button {
      background: rgb(147, 86, 220);
      background: linear-gradient(
        0deg,
        rgba(147, 86, 220, 1) 0%,
        rgba(255, 121, 218, 1) 100%
      );
      width: 218px;
      height: 50px;
      border: 0px;
      border-radius: 30px;
      color: white;
      font-size: 14px;
      font-weight: 1000;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      transition-duration: 800ms;
      &:hover {
        cursor: pointer;
        background: rgb(147, 86, 220);
        background: linear-gradient(
          0deg,
          rgba(146, 86, 220, 0.912) 0%,
          rgba(255, 121, 217, 0.914) 100%
        );
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
        transition-duration: 800ms;
      }
    }
  }
}

.marginSection {
  margin-top: 30px;
}

/* SECTION explication */

.otherSection {
  margin: 20px;
  margin-top: 52px;

  .bulle {
    background-color: var(--section-color);
    border-radius: 20px;
    margin-bottom: 12px;
    height: 72px;
    width: 100%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

    .box__btnfuchia {
      margin-left: -12px;
      .btnfuchia {
        background-color: #9356dc;
        border: 0px;
        color: white;
        font-weight: 1000;
        height: 24px;
        width: 24px;
        padding: 4px;
        font-weight: bold;
        border: solid 1px;
        border-radius: 24px;
      }
    }

    .box__icon {
      width: 30%;
      display: flex;
      justify-content: center;
      i {
        color: grey;
      }
      .fa-store {
        color: #9356dc;
      }
    }

    .box__text {
      width: 70%;
    }
  }
}

/* SECTION restaurant */

.restaurant {
  margin-top: 60px;

  h2 {
    padding-top: 36px;
    margin-left: 18px;
  }
}

.card {
  background-color: white;
  border-radius: 20px;
  margin: 13px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);

  .nouveau {
    width: 100%;
    display: flex;
    justify-content: end;
    button {
      background-color: #95dfcd;
      color: #008766;
      position: absolute;
      width: 80px;
      height: 29px;
      margin-top: 14px;
      margin-right: 14px;
      font-size: 14px;
      font-weight: bold;
      padding: 7px 10px;
      text-align: center;
      border: 0;
      border-radius: 3px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }
  }
  img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-txt {
    padding-left: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .titleIcon {
      h4 {
        margin-top: 8px;
        margin-bottom: 0;
      }

      p {
        margin-top: 8px;
        margin-bottom: 5px;
      }
    }
    .hearts {
      margin-top: 26px;

      .hearttwo {
        opacity: 0;
        transition-duration: 1400ms;
        &:hover {
          opacity: 1;
          transition-duration: 800ms;
          color: rgb(147, 86, 220);
          color: linear-gradient(
            0deg,
            rgba(147, 86, 220, 1) 0%,
            rgba(255, 121, 218, 1) 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
        }
      }

      i {
        margin-left: -50px;
        position: absolute;
      }
    }
    /* .link__heart {
      i {
        padding-top: 25px;
        padding-right: 25px;
        color: black;
        z-index: 3;
        &:hover {
          color: #9356dc;
          background-color: #9356dc;
          background-clip: text;
          -webkit-background-clip: text;
        }
      }
    }*/
    /*
    .fa-heart {
      padding-top: 25px;
      padding-right: 25px;
      color: black;
      padding: 0.2em;
      z-index: 3;

      .fa-heart:hover::before {
        transition-duration: 800ms;
        font-weight: bold;
        color: rgb(147, 86, 220);
        color: linear-gradient(
          0deg,
          rgba(146, 86, 220, 0.912) 0%,
          rgba(255, 121, 217, 0.914) 100%
        );
        cursor: pointer;
      }
    }*/
  }
}

/* FOOTER */

footer {
  background-color: #353535;
  padding: 20px;

  .footer__content {
    color: white;

    h4 {
      font-family: "Roboto", sans-serif;
      font-family: "Shrikhand", cursive;
      font-size: 18px;
      color: white;
      margin-top: 0px;
      margin-bottom: 15px;
    }

    p {
      color: white;
      margin-bottom: 0px;
      margin-top: 7px;
      font-weight: bold;
    }
  }

  .footer__content_sous-titre {
    display: flex;
    align-items: center;
    margin-top: 7px;

    .margeIcon {
      margin-left: 11px;
    }

    p {
      margin-left: 7px;
      margin-top: 0;
    }

    .fa-handshake {
      transform: rotate(-45deg);
    }
  }
}

.loader {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 5;
  opacity: 0.5;

  .text {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
